<a href="https://colab.research.google.com/github/Niktain-america/Project-Portfolio/blob/main/Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount(‘/content/drive’)

SyntaxError: ignored

In [ ]:
import pandas as pd

txt_df =pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Data.csv")
txt_df.head()

  OrderDate   Region      Rep    Item  Units  Unit Cost   Total
0    1-6-16     East    Jones  Pencil     95       1.99  189.05
1   1-23-16  Central   Kivell  Binder     50      19.99   999.5
2    2-9-16  Central  Jardine  Pencil     36       4.99  179.64
3   2-26-16  Central     Gill     Pen     27      19.99  539.73
4   3-15-16     West  Sorvino  Pencil     56       2.99  167.44

In [ ]:
txt_df.columns

Index(['OrderDate', 'Region', 'Rep', 'Item', 'Units', 'Unit Cost', 'Total'], dtype='object')

In [ ]:
txt_df.shape

(43, 7)

In [ ]:
txt_df.tail(3)

   OrderDate   Region      Rep    Item  Units  Unit Cost     Total
40  11-17-17  Central  Jardine  Binder     11       4.99     54.89
41   12-4-17  Central  Jardine  Binder     94      19.99  1,879.06
42  12-21-17  Central  Andrews  Binder     28       4.99    139.72

# Data Understanding

In [ ]:
txt_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43 entries, 0 to 42
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   OrderDate  43 non-null     object
 1   Region     43 non-null     object
 2   Rep        43 non-null     object
 3   Item       43 non-null     object
 4   Units      43 non-null     int64
 5   Unit Cost  43 non-null     float64
 6   Total      43 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 2.5+ KB

In [ ]:
txt_df.describe()

           Units   Unit Cost
count  43.000000   43.000000
mean   49.325581   20.308605
std    30.078248   47.345118
min     2.000000    1.290000
25%    27.500000    3.990000
50%    53.000000    4.990000
75%    74.500000   17.990000
max    96.000000  275.000000

In [ ]:
a=txt_df['Region']
a

0        East
1     Central
2     Central
3     Central
4        West
5        East
6     Central
7     Central
8        West
9        East
10    Central
11       East
12       East
13       East
14    Central
15       East
16    Central
17       East
18       East
19    Central
20    Central
21       East
22    Central
23    Central
24       East
25       West
26    Central
27    Central
28       East
29    Central
30    Central
31    Central
32       East
33    Central
34    Central
35       West
36    Central
37       West
38       West
39    Central
40    Central
41    Central
42    Central
Name: Region, dtype: object

In [ ]:
txt_df1=txt_df[['Region','Item','Units','Unit Cost','Total']]
txt_df1.head()

    Region    Item  Units  Unit Cost   Total
0     East  Pencil     95       1.99  189.05
1  Central  Binder     50      19.99   999.5
2  Central  Pencil     36       4.99  179.64
3  Central     Pen     27      19.99  539.73
4     West  Pencil     56       2.99  167.44

In [ ]:
txt_df['Region'].value_counts()

Central    24
East       13
West        6
Name: Region, dtype: int64

In [ ]:
txt_df.Region.value_counts()

Central    24
East       13
West        6
Name: Region, dtype: int64

In [ ]:
txt_df['TOT']=txt_df['Units']*txt_df['Unit Cost']
txt_df.head()

  OrderDate   Region      Rep    Item  Units  Unit Cost   Total     TOT
0    1-6-16     East    Jones  Pencil     95       1.99  189.05  189.05
1   1-23-16  Central   Kivell  Binder     50      19.99   999.5  999.50
2    2-9-16  Central  Jardine  Pencil     36       4.99  179.64  179.64
3   2-26-16  Central     Gill     Pen     27      19.99  539.73  539.73
4   3-15-16     West  Sorvino  Pencil     56       2.99  167.44  167.44

# Rename

In [ ]:
txt_df=txt_df.rename(columns={'TOT':'TOT Sales'})
txt_df.head()

  OrderDate   Region      Rep    Item  Units  Unit Cost   Total  TOT Sales
0    1-6-16     East    Jones  Pencil     95       1.99  189.05     189.05
1   1-23-16  Central   Kivell  Binder     50      19.99   999.5     999.50
2    2-9-16  Central  Jardine  Pencil     36       4.99  179.64     179.64
3   2-26-16  Central     Gill     Pen     27      19.99  539.73     539.73
4   3-15-16     West  Sorvino  Pencil     56       2.99  167.44     167.44

#Conditions

In [ ]:
txt_df.query('Region=="West" | Item=="Pencil"')

   OrderDate   Region       Rep    Item  Units  Unit Cost     Total  TOT Sales
0     1-6-16     East     Jones  Pencil     95       1.99    189.05     189.05
2     2-9-16  Central   Jardine  Pencil     36       4.99    179.64     179.64
4    3-15-16     West   Sorvino  Pencil     56       2.99    167.44     167.44
6    4-18-16  Central   Andrews  Pencil     75       1.99    149.25     149.25
7     5-5-16  Central   Jardine  Pencil     90       4.99     449.1     449.10
8    5-22-16     West  Thompson  Pencil     32       1.99     63.68      63.68
10   6-25-16  Central    Morgan  Pencil     90       4.99     449.1     449.10
13   8-15-16     East     Jones  Pencil     35       4.99    174.65     174.65
20  12-12-16  Central     Smith  Pencil     67       1.29     86.43      86.43
25    3-7-17     West   Sorvino  Binder      7      19.99    139.93     139.93
27   4-10-17  Central   Andrews  Pencil     66       1.99    131.34     131.34
29   5-14-17  Central      Gill  Pencil     53       1.29     68.37      68.37
35   8-24-17     West   Sorvino    Desk      3     275.00       825     825.00
36   9-10-17  Central      Gill  Pencil      7       1.29      9.03       9.03
37   9-27-17     West   Sorvino     Pen     76       1.99    151.24     151.24
38  10-14-17     West  Thompson  Binder     57      19.99  1,139.43    1139.43
39  10-31-17  Central   Andrews  Pencil     14       1.29     18.06      18.06

In [ ]:
txt_df[(txt_df['Region'] == 'East') | (txt_df['Item'] == 'Pencil')]

,OrderDate,Region,Rep,Item,Units,Unit Cost,Total,TOT Sales
0,1-6-16,East,Jones,Pencil,95,1.99,189.05,189.05
2,2-9-16,Central,Jardine,Pencil,36,4.99,179.64,179.64
4,3-15-16,West,Sorvino,Pencil,56,2.99,167.44,167.44
5,4-1-16,East,Jones,Binder,60,4.99,299.4,299.40
6,4-18-16,Central,Andrews,Pencil,75,1.99,149.25,149.25
7,5-5-16,Central,Jardine,Pencil,90,4.99,449.1,449.10
8,5-22-16,West,Thompson,Pencil,32,1.99,63.68,63.68
9,6-8-16,East,Jones,Binder,60,8.99,539.4,539.40
10,6-25-16,Central,Morgan,Pencil,90,4.99,449.1,449.10
11,7-12-16,East,Howard,Binder,29,1.99,57.71,57.71
12,7-29-16,East,Parent,Binder,81,19.99,"1,619.19",1619.19
13,8-15-16,East,Jones,Pencil,35,4.99,174.65,174.65
15,9-18-16,East,Jones,Pen Set,16,15.99,255.84,255.84
17,10-22-16,East,Jones,Pen,64,8.99,575.36,575.36
18,11-8-16,East,Parent,Pen,15,19.99,299.85,299.85
20,12-12-16,Central,Smith,Pencil,67,1.29,86.43,86.43
21,12-29-16,East,Parent,Pen Set,74,15.99,"1,183.26",1183.26
24,2-18-17,East,Jones,Binder,4,4.99,19.96,19.96
27,4-10-17,Central,Andrews,Pencil,66,1.99,131.34,131.34
28,4-27-17,East,Howard,Pen,96,4.99,479.04,479.04
29,5-14-17,Central,Gill,Pencil,53,1.29,68.37,68.37
32,7-4-17,East,Jones,Pen Set,62,4.99,309.38,309.38
36,9-10-17,Central,Gill,Pencil,7,1.29,9.03,9.03
39,10-31-17,Central,Andrews,Pencil,14,1.29,18.06,18.06

In [ ]:
txt_df[(txt_df['Rep'] == 'Jones') | (txt_df['Item'] == 'Pencil')]

   OrderDate   Region       Rep     Item  Units  Unit Cost   Total  TOT Sales
0     1-6-16     East     Jones   Pencil     95       1.99  189.05     189.05
2     2-9-16  Central   Jardine   Pencil     36       4.99  179.64     179.64
4    3-15-16     West   Sorvino   Pencil     56       2.99  167.44     167.44
5     4-1-16     East     Jones   Binder     60       4.99   299.4     299.40
6    4-18-16  Central   Andrews   Pencil     75       1.99  149.25     149.25
7     5-5-16  Central   Jardine   Pencil     90       4.99   449.1     449.10
8    5-22-16     West  Thompson   Pencil     32       1.99   63.68      63.68
9     6-8-16     East     Jones   Binder     60       8.99   539.4     539.40
10   6-25-16  Central    Morgan   Pencil     90       4.99   449.1     449.10
13   8-15-16     East     Jones   Pencil     35       4.99  174.65     174.65
15   9-18-16     East     Jones  Pen Set     16      15.99  255.84     255.84
17  10-22-16     East     Jones      Pen     64       8.99  575.36     575.36
20  12-12-16  Central     Smith   Pencil     67       1.29   86.43      86.43
24   2-18-17     East     Jones   Binder      4       4.99   19.96      19.96
27   4-10-17  Central   Andrews   Pencil     66       1.99  131.34     131.34
29   5-14-17  Central      Gill   Pencil     53       1.29   68.37      68.37
32    7-4-17     East     Jones  Pen Set     62       4.99  309.38     309.38
36   9-10-17  Central      Gill   Pencil      7       1.29    9.03       9.03
39  10-31-17  Central   Andrews   Pencil     14       1.29   18.06      18.06

In [ ]:
Regionlist = ['East', 'Central']

In [ ]:
txt_df[txt_df.Region.isin(Regionlist)]

   OrderDate   Region      Rep     Item  Units  Unit Cost     Total  TOT Sales
0     1-6-16     East    Jones   Pencil     95       1.99    189.05     189.05
1    1-23-16  Central   Kivell   Binder     50      19.99     999.5     999.50
2     2-9-16  Central  Jardine   Pencil     36       4.99    179.64     179.64
3    2-26-16  Central     Gill      Pen     27      19.99    539.73     539.73
5     4-1-16     East    Jones   Binder     60       4.99     299.4     299.40
6    4-18-16  Central  Andrews   Pencil     75       1.99    149.25     149.25
7     5-5-16  Central  Jardine   Pencil     90       4.99     449.1     449.10
9     6-8-16     East    Jones   Binder     60       8.99     539.4     539.40
10   6-25-16  Central   Morgan   Pencil     90       4.99     449.1     449.10
11   7-12-16     East   Howard   Binder     29       1.99     57.71      57.71
12   7-29-16     East   Parent   Binder     81      19.99  1,619.19    1619.19
13   8-15-16     East    Jones   Pencil     35       4.99    174.65     174.65
14    9-1-16  Central    Smith     Desk      2     125.00       250     250.00
15   9-18-16     East    Jones  Pen Set     16      15.99    255.84     255.84
16   10-5-16  Central   Morgan   Binder     28       8.99    251.72     251.72
17  10-22-16     East    Jones      Pen     64       8.99    575.36     575.36
18   11-8-16     East   Parent      Pen     15      19.99    299.85     299.85
19  11-25-16  Central   Kivell  Pen Set     96       4.99    479.04     479.04
20  12-12-16  Central    Smith   Pencil     67       1.29     86.43      86.43
21  12-29-16     East   Parent  Pen Set     74      15.99  1,183.26    1183.26
22   1-15-17  Central     Gill   Binder     46       8.99    413.54     413.54
23    2-1-17  Central    Smith   Binder     87      15.00  1,305.00    1305.00
24   2-18-17     East    Jones   Binder      4       4.99     19.96      19.96
26   3-24-17  Central  Jardine  Pen Set     50       4.99     249.5     249.50
27   4-10-17  Central  Andrews   Pencil     66       1.99    131.34     131.34
28   4-27-17     East   Howard      Pen     96       4.99    479.04     479.04
29   5-14-17  Central     Gill   Pencil     53       1.29     68.37      68.37
30   5-31-17  Central     Gill   Binder     80       8.99     719.2     719.20
31   6-17-17  Central   Kivell     Desk      5     125.00       625     625.00
32    7-4-17     East    Jones  Pen Set     62       4.99    309.38     309.38
33   7-21-17  Central   Morgan  Pen Set     55      12.49    686.95     686.95
34    8-7-17  Central   Kivell  Pen Set     42      23.95  1,005.90    1005.90
36   9-10-17  Central     Gill   Pencil      7       1.29      9.03       9.03
39  10-31-17  Central  Andrews   Pencil     14       1.29     18.06      18.06
40  11-17-17  Central  Jardine   Binder     11       4.99     54.89      54.89
41   12-4-17  Central  Jardine   Binder     94      19.99  1,879.06    1879.06
42  12-21-17  Central  Andrews   Binder     28       4.99    139.72     139.72

In [ ]:
Itemlist=['Pencil','Binder']

In [ ]:
txt_df[txt_df.Item.isin(Itemlist)]

   OrderDate   Region       Rep    Item  Units  Unit Cost     Total  TOT Sales
0     1-6-16     East     Jones  Pencil     95       1.99    189.05     189.05
1    1-23-16  Central    Kivell  Binder     50      19.99     999.5     999.50
2     2-9-16  Central   Jardine  Pencil     36       4.99    179.64     179.64
4    3-15-16     West   Sorvino  Pencil     56       2.99    167.44     167.44
5     4-1-16     East     Jones  Binder     60       4.99     299.4     299.40
6    4-18-16  Central   Andrews  Pencil     75       1.99    149.25     149.25
7     5-5-16  Central   Jardine  Pencil     90       4.99     449.1     449.10
8    5-22-16     West  Thompson  Pencil     32       1.99     63.68      63.68
9     6-8-16     East     Jones  Binder     60       8.99     539.4     539.40
10   6-25-16  Central    Morgan  Pencil     90       4.99     449.1     449.10
11   7-12-16     East    Howard  Binder     29       1.99     57.71      57.71
12   7-29-16     East    Parent  Binder     81      19.99  1,619.19    1619.19
13   8-15-16     East     Jones  Pencil     35       4.99    174.65     174.65
16   10-5-16  Central    Morgan  Binder     28       8.99    251.72     251.72
20  12-12-16  Central     Smith  Pencil     67       1.29     86.43      86.43
22   1-15-17  Central      Gill  Binder     46       8.99    413.54     413.54
23    2-1-17  Central     Smith  Binder     87      15.00  1,305.00    1305.00
24   2-18-17     East     Jones  Binder      4       4.99     19.96      19.96
25    3-7-17     West   Sorvino  Binder      7      19.99    139.93     139.93
27   4-10-17  Central   Andrews  Pencil     66       1.99    131.34     131.34
29   5-14-17  Central      Gill  Pencil     53       1.29     68.37      68.37
30   5-31-17  Central      Gill  Binder     80       8.99     719.2     719.20
36   9-10-17  Central      Gill  Pencil      7       1.29      9.03       9.03
38  10-14-17     West  Thompson  Binder     57      19.99  1,139.43    1139.43
39  10-31-17  Central   Andrews  Pencil     14       1.29     18.06      18.06
40  11-17-17  Central   Jardine  Binder     11       4.99     54.89      54.89
41   12-4-17  Central   Jardine  Binder     94      19.99  1,879.06    1879.06
42  12-21-17  Central   Andrews  Binder     28       4.99    139.72     139.72